<div class="container-fluid blogs-container ${properties.containerClass}">
  <h2 class="container-title text-center">${properties.containerTitle}</h2>
  <div class="carousel-wrapper">
    <!-- carousel -->
    <div class="carousel">
      <!-- list item -->
      <div class="list carousel-content" id="dynamic-carousel-content">
      </div>
      <!-- list thumnail -->
      <div class="thumbnail thumbnail-content" id="dynamic-thumbnail-content">
      </div>
      <!-- next prev -->
      <div class="arrows">
        <button id="prev">P</button>
        <button id="next">N</button>
      </div>
      <!-- time running -->
      <div class="time"></div>
    </div>
  </div>
</div>