.poc_post_form{
    padding: 15px 100px;
    >h2{
        margin-bottom: 30px;
    }
    .post-container{
        display: flex;
        justify-content: center;
        align-items:flex-start;
        .post-form-box{
            flex: 0 0 70%;
            padding-top: 10px;
            padding-bottom: 40px;
            .post-form-container{
                form#blogForm{
                    display: flex;
                    flex-direction: column;
                    padding: 0 12px;
                    .form-group
                    {
                        margin-bottom: 30px;
                        margin-bottom: 20px;
                        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                        transition: all 0.3s ease;
                        border-radius: 10px;
                        padding: 20px;
                        &:hover {
                            transform: translateY(-3px);
                            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
                        }
                        >label{
                            display: block;
                            font-size: 20px;
                            text-align: left;
                            margin-bottom: 12px;
                        }

                        .form-text{
                            text-align: left;
                        }
                    }
                    .post-form{
                        .category-options{
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr 1fr;
                            align-items: center;
                            justify-items: flex-start;
                            row-gap: 10px;

                            .form-check{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-left: 20px;
                                cursor: pointer;

                                label{
                                    font-size: 16px;
                                }
                                input{
                                    margin-left: 0;
                                    left: 0;
                                }
                            }

                        }
                    }

                    button{
                        display: block;
                        height: 60px;
                        max-width: 300px;
                        font-size: 20px;
                        letter-spacing: 1px;
                        font-weight: 700;
                        margin-top: 30px;
                    }

                }
            }

        }
        .post-properties-wrapper{
            flex: 0 0 30%;
            .post-properties{
                padding: 0 10px;
                padding-top: 100px;
                padding-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .details-card{
                    padding: 30px 15px;
                    border-radius: 10px;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                    transition: all 0.3s ease;
                    width:90%;
                    border: 1.5px dashed grey;
                    position: relative;
                    &:hover {
                        transform: translateY(-3px);
                        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
                    }
                    .post-item{
                        font-size: 20px;
                        text-align: left;

                        .label{
                            font-weight: 700;
                        }

                    }

                    .post-item:not(:last-child){
                        margin-bottom: 15px;
                    }

                    .post-item.author-logo{
                        position: absolute;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;
                        left: 50%;
                        top: -50px;
                        transform: translateX(-50%);
                        padding: 10px;
                        background: grey;
                    }
                }
                .details-card:nth-child(2){
                    margin-top: 40px;
                }

                .details-card.profile-details{
                    padding-top: 80px;
                    .author-logo{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}